body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;

    
    display: flex;
    justify-content: center;
    align-items: center; 
}


body.instructions-body-align {
    align-items: flex-start !important;
  }

 body.instructions-body-align .container {
    align-items: flex-start;
    padding-top: 20px;  
}

.noUi-tooltip {
    top: 100%;
    bottom: auto !important;
    transform: translateY(6px);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

img {
    max-width: 60%;
    display: none;
}

.rating, .fixation {
    display: none;
    margin-top: 20px;
}

.fixation {
    font-size: 24px;
    font-weight: bold;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.rating > button {
    display: block;
    margin: 0 auto;
}

button:hover {
    background-color: #0056b3;
}






/* LIKERT RATINGS */

.likert-container {
    flex-grow: 1; 
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
    margin-bottom: 1rem; 
    gap: 0; 
}

.likert-box {
    flex-basis: calc(100% / 7);
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 15px;
    gap: 0; 
}

.likert-box:active {
    background-color: #ccc;
}

.likert-box:hover {
    background-color: #eee;
}

.likert-number {
    font-size: 18px;
}

.likert-label {
    font-size: 12px;
    color: #000;
    margin-top: 5px;
    text-align: center;
    height: auto;
    overflow-wrap: break-word;
}

